

.loginPhoto {
    /* width: 600px; */
    /* height: 255px; */
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
    height: 303px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-sign-in-button {
    margin-left: 10px;
}

.email-pw-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.email-pw-input > label {
    font-weight: bold;
}

.button-container {
    display: flex;
    padding-bottom: 10px;
}

.button-container > button {
    color: white;
}

.login-head {
    padding-left: 10px;
    font-weight: bold;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.logIn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50rem;
    justify-content: space-between;
}

.loginPhotoContainer {
    width: 50%;
    height: 303px;
}

.left-side-login {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.title-head-login {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    color: #f05537;
    font-weight: bold;
}

#login-button {
    width: 100%;
    background-color: #D2420D;
    border: 0;
    border-radius: 5px;
    height: 2rem;
}

.demo-sign-in-button {
    width: 100%;
    background-color: #D2420D;
    border: 0;
    border-radius: 5px;
    height: 2rem;
}

.right-side > button {
    border-radius: 10px;
    padding: .5rem;
    background-color: #D2420D;
    border: 0;
}

.right-side > button:hover {
    border-radius: 10px;
    padding: .5rem;
    background-color: #F05537;
    border: 0;
}

#login-button:hover, #demo-user-button:hover {
    background-color: #F05537;
}
