@media screen and (min-width: 960px) {
    .image-on-top {
        width: 100%;
    }
}

@media screen and (min-width: 792px) {
    .image-on-top {
        width: 100%;
        /* margin-left: auto;
        height: auto; */
    }
}

@media screen and (min-width: 200px) {
    .image-on-top {
        width: 100%;

    }
}

.image-on-top, .image-on-topp {
    right: 0;
    margin-left: auto;
    height: auto;
    overflow: hidden;
    bottom: 0;
    z-index: 0;
    width: 100%;
    /* position: absolute; */
    object-fit: contain;
}

.edmtrain-events-list,
.user-events-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
}

/* .edmtrain-events-list li:hover,
.user-events-list li:hover {
    background-color: lightgray;
} */

.edmtrain-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
}

.preview-image-events {
    max-width: 280px;
    /* max-height: 148px; */
    max-height: 392px;
    display: block;
}

.preview-image-event, .preview-image-events-edmtrain {
    display: flex;
    outline: none;
    width: 100%;
    max-height: 140px;
    overflow: hidden;
    object-fit: cover;
    /* position: absolute; */
}

.event-info {
    height: 180px;
    padding: 24px 16px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}

.date {
    font-weight: 600;
    font-size: .875rem;
}

.event-id-and-name {
    font-size: 1.125rem;
    line-height: 22px;
    font-weight: 400;
}
.date {
    font-size: 14px;
    color: #F58800;
}

.location {
    font-size: 12px;
}

.edmtrain-event,
.user-event {
    /* background: white; */
    border-radius: 3px #266867 solid;
    margin: 4px;
    flex: 0 1 calc(24% - 8px);
    /* <-- adjusting for margin */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgray;
    max-width: 300px;
    max-height: 406px;
    box-shadow: -6px 0px 42px 15px rgba(0,0,0,0.07);
}
.link-to-event {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.preview-image-events-edmtrain {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edmtrain-event:hover,
.user-event:hover {
    box-shadow: 10px 0px 31px 25px #F7F7F9;
}
