.create-event details {
    display: flex;
    flex-direction: column;
}

.create-form-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 50px; */
}

.create-form {
    margin-bottom: 50px;
}

.description-input {
    max-width: 100%;
}
