.create-event details {
    display: flex;
    flex-direction: column;
}

.create-form-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 50px; */
}

.create-form {
    margin-bottom: 50px;
}

.description-input {
    max-width: 100%;
}

.description-input {
    /* font-family: "Arial; sans-serif"; */
    white-space: nowrap;
    /* overflow: auto; */
    top: 0;
    left: 0;
    overflow:scroll;
}

@media (max-width: 768px) {
    .create-form-div {
      width: 80%;
    }
  }

.fawesome {
    right: 5%;
    top: 50px;
    font-size: 30px;
    position: relative;
    color: #DBDAE3;
}

.fawesome-basic {
    right: 5%;
    top: 35px;
    font-size: 30px;
    position: relative;
    color: #DBDAE3;
}

.btn {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 10px;
    color: white;
}

.Basic-info > label, .location-date-time > label, .date-time > label,
.create-event-details > label {
    font-weight: bold;
}
