.left-side,
.description {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.description-input {
    overflow-y: auto;
    height: 100px;
    clear: both;
    display:block;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 100%;
}

.description-container {

    white-space: normal;
    width: 100%;
    display: block;
    overflow-wrap: break-word;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-image {
    max-width: 1200px;
}

.description-image {
    max-width: 100%;
}

.preview-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg");
}

.when-where {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.when-and-where-container {
    display: flex;
    flex-flow: column;
    width: 75%;
    justify-content: space-between;
}

.date-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: calc(8*var(--base-unit));
    padding-right: calc(8*var(--base-unit));
}

.event-details {
    display: flex;
    justify-content: space-around;
}

.time-ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-details {
    display: flex;
}

.tickets-container, .ticket-alert-owner, .tickets-modal {
    position: sticky;
    top: 50px;
    /* border-left: 10px; */
}

.container > button {
    background-color: #877f7c;
    color: #FFF;
}

.go-to-create-tickets {
    position: sticky;
    top: 100px;
}

.preview-image-img {
    max-width: 800px;
}

.type-button {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
}

.type-ticket {
    margin-right: 20px;
}

.price-ticket {
    margin-top: 10px;
}
