.bought-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.order-bought {
    margin: 10px;
    list-style: none;
}
