.tickets-modal {
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    /* max-width: 25%; */
    position: sticky;
}

.check-out-button {
    background-color: #f05537;
    color: white;
    font: 1em arial;
}

.check-out-button:hover {
    background-color: #f05537;
}

.type-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-plus-minus {
    display: flex;
    justify-content: space-between;
}

/* .container {
    border: 1px solid blue;
} */

.ticket-type-price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin: 25px
}

.container {
    margin-bottom: 5px;
    border: 1.5px solid #304fc9;
    border-radius: 8px;
    padding: 5px
}

.container > * {
    margin-bottom: 5px;
}

.check-out-button {
    margin-top: 5px;
}
