.tickets-modal {
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    max-width: 25%;
}

.check-out-button {
    background-color: #f05537;
    color: white;
    font: 1em arial;
}

.check-out-button:hover {
    background-color: #f05537;
}

.type-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-plus-minus {
    display: flex;
    justify-content: space-between;
}
