.tickets-modal {
    border: 2px solid #e3e3e3;
    border-radius: 10px;
    /* max-width: 25%; */
    position: sticky;
}

.check-out-button {
    background-color: #f05537;
    color: white;
    font: 1em arial;
}

.check-out-button:hover {
    background-color: #f05537;
}

.type-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-plus-minus {
    display: flex;
    justify-content: space-between;
}

/* .container {
    border: 1px solid blue;
} */

.ticket-type-price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin: 25px
}

.container {
    margin-bottom: 5px;
    /* border: 2px solid #304fc9; */
    border-radius: 8px;
    padding: 5px
}

.container > * {
    margin-bottom: 5px;
}

.check-out-button {
    margin-top: 5px;
    background-color: #f05537;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;;
}


.btn-plus {
    background-color: #3D64FF;
    color: white;
    font-size: 1.5rem;
}

.btn-minus {
    font-size: 1.5rem;
}

.type-ticket, .price-ticket, .ticket-count {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.ticket-count {
    padding-left: .4rem;
    padding-right: .4rem;
}
